# Supabase Postgres Connection (Pooled - Port 6543)
DATABASE_URL="Direct String connection for Pool"

# Supabase Postgres Connection (Direct - Port 5432)
DIRECT_URL="Direct String connection"

# n8n Local Docker Webhook for Article Generator Agent
N8N_ARTICLE_WEBHOOK_URL="http://localhost:5678/webhook/generate-article-ollama"

# Gemini API Key for Agent Chat
GEMINI_API_KEY="API String"